.container {
  width: 100%;
  background-color: green;
}
.content-block {
  display: inline-block;
  width: 310px;
  border-radius: 5%;
  margin: 10px 10px;
  position: relative;
  overflow: hidden;
  padding: 20px 40px;
  font-family: sans-serif;
}
.content-block > .indent {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 20px;
}
.bottom-margin {
  margin-bottom: 70px;
}
.content-block > .bottom-content {
  font-size: 20px;
  margin-bottom: 20px;
}
.cont1 {
  background: linear-gradient(
    340deg,
    rgba(254, 136, 150, 1) 50%,
    rgba(254, 185, 152, 1) 61%
  );
}
.cont2 {
  background: linear-gradient(
    340deg,
    rgba(38, 151, 229, 1) 50%,
    rgba(130, 195, 246, 1) 61%
  );
  margin-right: 40px;
  margin-left: 40px;
}
.cont3 {
  background: linear-gradient(
    340deg,
    rgba(119, 216, 207, 1) 50%,
    rgba(21, 209, 188, 1) 61%
  );
}
.content {
  color: white;
  font-size: 28px;
}

.content-block::after,
.content-block::before {
  content: "";
  background-color: white;
  padding: 100px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
}
.content-block::after {
  top: 50%;
  left: 60%;
}
.content-block::before {
  bottom: 40%;
  left: 70%;
}
.images::after,
.image2::after,
.image3::after {
  position: absolute;
  left: 90%;
}
.images::after {
  content: url("images/1.svg");
}
.image2::after {
  content: url("images/2.svg");
}
.image3::after {
  content: url("images/3.svg");
}
